
.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
    min-height: 80vh;
    padding-bottom: 2rem;
  }
  
  #heading {
    font-weight: 300;
    color: #c3c3c3;
    margin: 0 auto;
    width: max-content;
    font-size: 28px;
    align-items: center;
  }
